2024/inputs/day1.txt
2024/inputs/day2.txt
2024/inputs/day3.txt
2024/inputs/day4.txt
2024/inputs/day5.txt
2024/inputs/day6.py
2024/inputs/day6.txt
2024/inputs/day7.txt
2024/inputs/day8.txt
2024/inputs/pruebas.txt
2024/notebook.ipynb
2024/inputs/day9.txt
2024/inputs/day10.txt
